.DS_Store
*.tmp
src/ontology/tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/dpo.owl
src/ontology/dpo.obo
src/ontology/dpo.json
src/ontology/dpo-base.*
src/ontology/dpo-basic.*
src/ontology/dpo-full.*
src/ontology/dpo-simple.*
src/ontology/dpo-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl
src/ontology/dpo-edit-release.owl